audio.audio
header
  div.head
    div.headerLeft
      nav.nav
        ul.menu
          li.li
            a.hov(href="/") ホーム
      div.searchBox
        form(action="/search" method="post")
          input.textarea(maxlength="256" name="text" placeholder="検索" autocomplete="off" value=searchText)
          div.buttonSpace
            input.searchButton(type="image" src="/images/searchButton.png")
    div.headerRight
      - let image = `/images/${user.icon}.png`;
      img.icon.headIcon(src=image)
      p.online オンライン
      
      div.phoneZone
        img.headIcon.phone(src="/images/phone1.png")
        img.headIcon.phone(src="/images/phone2.png")
        p.phoneText
        

        
