header
  div.headerLight
    div.searchBox
      input.textarea(type="text" maxlength="256" name="text" placeholder="検索" autocomplete="off")
      input.searchButton(type="image" src="http://localhost:3000/profile_image/searchButton.png")
