extends layout

block head
  link(rel="stylesheet", href="stylesheets/home.css")
  script(src="javascripts/home.js")
  
block body
  div.post
    div.kakoi
      textarea.postingText(maxlength="256" name="text" placeholder="緑茶ハイ")
    div.postFoot
      button.posting(text="false") 投稿
      
