doctype html
html(lang="ja")
  head
    meta(charset="urf-8")
    link(rel="stylesheet", href="/stylesheets/common.css")
    script(src="/javascripts/jquery-3.1.1.min.js")
    block head
  body
    block body
