extends layout

block head
  link(rel="stylesheet", href="stylesheets/register.css")
block body
  div.register
    h1.title 新規アカウント作成
    div.input
      form(action="/register" method="post")
        input.info(type="email" name="email" placeholder="メールアドレス" maxlength="320" required)
        input.info(type="text" name="userName" placeholder="ユーザー名" maxlength="16" required)
        input.info(type="password" name="password" placeholder="パスワード" maxlength="1000" required)
        button.submit(type="submit")
    a(href="/session") 登録済みの方はこちら
