extends layout

block head
  link(rel="stylesheet", href="stylesheets/search.css")
  link(rel="stylesheet", href="stylesheets/header.css")
  script(src="/javascripts/peer.js")
  script(src="/javascripts/call.js")
  script(src="javascripts/search.js")

block body
  include header
  div.body
    div.timeLine
      div.update
        h4 更新
      div.posts
    
