extends layout

block head
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/peer.js")
  script(src="javascripts/video.js")
  link(type='rel="stylesheet", href="stylesheets/test.css"')
  
block body
  video.video("muted")
  video.video
  input.peerId("type=text")
  button.call
  
