extends layout

block head
  script(src="/socket.io/socket.io.js")
  script(src="http://cdn.peerjs.com/0.3/peer.js")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
  script(src="javascripts/video.js")
  link(type='rel="stylesheet", href="stylesheets/test.css"')
  
block body
  video.video("muted")
  video.video
  input.peerId("type=text")
  button.call
  
