
.post {
  width: 550px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
}

.kakoi {
  padding: 10px 10px 0px 10px;
}

.postingText {
  width: 530px;
  height: 70px;
  font-size: 15px;
  padding: 0px;
  resize: none;
  user-select: none;
  outline: none;
  border: none;
}

.postFoot {
  height: 50px;
  width: 550px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.posting {
  float: right;
  color: #9F9F9F;
  font-size: 14px;
  height: 38px;
  width: 86px;
  margin: 6px 10px 0px 0px;
  user-select: none;
  outline: none;
  background-color: #E6E6E6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.allPosts {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 10px 10px 20px 10px;
  border-radius: 5px;
}

.timeLine {
  width: 550px;
  margin: auto;
}

.textSpace {
  width: 450px;
  margin-right: 10px;
}

.textSpace p {
  margin: 0;
}

.nameSpace h5 {
  margin: 5px 0px 0px 0px;
}

.postRight {
  float: right;
}
/*
.kakouyo {
  background-color:
}*/
