.update {
  background-color: #F5F8FA;
  color: #0084B4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  cursor: pointer;
}

.update h4 {
  margin: 0;
  padding-top: 8px;
  user-select: none;
  text-align: center;
}

.body {
  margin-top: 20px;
}

.textSpace {
  width: 450px;
  margin-right: 10px;
}

.textSpace p {
  margin: 0;
}

.nameSpace h5 {
  margin: 5px 0px 0px 0px;
  cursor: pointer;
}

.postRight {
  float: right;
}

.allPosts {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 10px 10px 20px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.timeLine {
  width: 550px;
  margin: auto;
}
